@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义样式 */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 进度条样式 */
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: #3b82f6;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
